table{
    border-collapse: collapse;
}
th{
    border: 1px black solid;
    background-color: #3d3838;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}
td{
    border: 1px black solid;
    background-color: #fffaed;
    padding-left: 2px;
    padding-right: 2px;
}
.cell-color{
    background-color: #fcd690;
}
.cell-left{
    width: 25px;
}
.blok-tabela{
    margin: 8.3%;
    overflow: auto;
}
.kontakt{
    clear: both;
}
.fish-block{
    width: 100%;
    height: 150px;
}
.fish-block>div .fish-block>p{
    float: left;
}
.fish-block>p{
    display: block;
    float: left;
}
.fish-block>div{
    height: 150px;
    width: 200px;
    float: left;
}
.fish-block>div>img{
    max-height: 100%;
    max-width: 100%;
}