table{
    border-collapse: collapse;
}
th{
    border: 1px black solid;
    background-color: #3d3838;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}
td{
    border: 1px black solid;
    background-color: #fffaed;
    padding-left: 2px;
    padding-right: 2px;
}
.cell-color{
    background-color: #fcd690;
}
.cell-left{
    width: 25px;
}
.blok-tabela{
    margin: 8.3%;
    overflow: auto;
}