.blok-zgloszenia{
    margin-left: 8.3%;
    margin-top: 50px;
    height: fit-content;
}
table{
    width: 100%;
    border: 1px black solid;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    min-width: 80px;
    border: 1px black solid;
    text-align: left;
}
/*.bg-color{
    background-color: #293040;
    color: white;
}*/
.overflow{
    overflow-x: auto;
    width: 100%;
}
body{
    overflow-x: hidden;
}
ul{
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 15%;
}
.bolder{
    font-weight: bolder;
}
img{
    width: 450px;
}
@media (max-width: 767px){
    img{
        width: 200px;
    }
}